<div class="d-flex category-selection">
    <span class="me-2 cat-bar">category:</span>
    <div ngbDropdown>
      <div>
        <button type="button" class="btn btn-info btn-sm me-1">{{selectedCat}}</button>
        <button class="btn btn-outline-info btn-sm" 
                id="cat"
                ngbDropdownToggle>
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
      </div>
        <ul ngbDropdownMenu="cat">
          <li *ngFor="let c of catList"><button ngbDropdownItem (click)="onCat($event)">{{c}}</button></li>
          <li><hr class="dropdown-divider"></li>
          <li><button ngbDropdownItem (click)="onAddCat()">add new category</button></li>
        </ul>
      </div>       
</div>
<!-- <label for="cat">Category:</label>
<select name="category" 
        id="cat"
        (change)="onCatSelect($event)">
  <option *ngFor="let c of catList"
          value="c"
          ()>{{c}}</option>
  <hr>
  <option value="add">Add new category</option>
</select> -->
        <!-- <div>
            <span>category:</span>
            <div class="btn-group">
                <button type="button" class="btn btn-info btn-sm">Others</button>
                <button type="button" 
                        class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Entertainment</a></li>
                  <li><a class="dropdown-item" href="#">Study</a></li>
                  <li><a class="dropdown-item" href="#">Work</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">others</a></li>
                </ul>
              </div>       
        </div> -->  